.Header{
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    align-items: center;
    padding: .1em;
    position: fixed;
    z-index: 999;
}
.Logo{
    flex: .5;
    margin-left: 7em;
}
.Logo > h1{
  background: -webkit-linear-gradient(90deg, rgba(21,165,234,0.9976365546218487) 0%, rgba(0,65,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: 2em;
}

.tag{
    display: flex;
    flex: .5;
    justify-content:flex-end;
    align-items: center;
}
.info{
    display: flex;
    align-items: center;
    padding-left: 3em;
    margin-right: 7em;
}
.info > div >  p{
    margin-right: 1em;
    margin-top: 1em;
}